h4.modal-title {
  margin-top: 0;
}

.tag {
  display: inline-block;
  border-radius: 5px;
  font-size: 95%;
  /*width: 100%;*/
  padding: 5px 8px;
}

.status-outdated {
  background: #FDB50DC0;
  /*color: hsl(230, 45%, 30%);*/
}

.status-rendering {
  background: #1B92A9C0;
}

.tag .spinner {
  padding-right: 0.33em;
}

.status-missing {
  background: #D11E36C0;
  color: #FFFFFF;
}

.status-ok {
  padding: 5px 0;
}

.rs_icon {
  padding-right: 0.33em;
}


.dashboard-table {
  padding-left: 1%;
  padding-right: 1%;
  padding-top: 0.5em;
}

.docker_details .form-group {
  margin-bottom: 0.25rem;
}

.docker_links {
  font-size: 75%;
}
.docker_links a {
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}
