.tag {
  display: inline-block;
  border-radius: 5px;
  font-size: 95%;
  /*width: 100%;*/
  padding: 5px 8px;
}

.status-outdated {
  background: #FDB50DC0;
  /*color: hsl(230, 45%, 30%);*/
}

.status-rendering {
  background: #1B92A9C0;
}

.tag .spinner {
  padding-right: 0.33em;
}

.tag img {

}

.status-missing {
  background: #D11E36C0;
  color: #FFFFFF;
}

.status-ok {
  padding: 5px 0;
}

.rs_icon {
  padding-right: 0.33em;
}

