.tag {
  display: inline-block;
  padding: 2px 10px;
  border-radius: 5px;
  font-size: 95%;
}

.status-outdated {
  background: hsl(230, 70%, 90%);
  /*color: hsl(230, 45%, 30%);*/
}

.status-missing {
  background: hsl(350, 70%, 90%);
  /*color: hsl(350, 45%, 30%);*/
}

.rs_icon {
  padding-right: 0.33em;
}
